     
	<hr />
      <footer>
        <p>&copy; 2016 Pete Kang, Mollie Knute, Garrick Kwong, and Ryan Reyes</p>

      </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"</script>
    </div> <!-- /container -->